body {
    font-family:'Avenir LT W01_35 Light1475496';
}

.navbar-static-top {
    z-index: 1000;
}

.icon-bar {
    background-color: #fff;
}
.navbar-dark {
    height: 80px;
    padding-top: 15px;
}

.navbar-dark .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.navbar-dark .navbar-brand {
    background-image: url(../img/white_logo_transparent_background.png);
}

.navbar-brand {
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    background-size: auto 50px;
    width: 260px;
}

.navbar {
    position: relative;
    background: transparent;
    min-height: 50px;
}

.radial-header-gradient {
    background-color: #3B2F63;
    background-image: -webkit-radial-gradient(50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    background-image: radial-gradient(0% bottom, ellipse, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(90% bottom, ellipse,  #523f8c 0%, rgba(82, 63, 140, 0) 40%);
    background-repeat: no-repeat;
    color: #c7c0de;
}

.small-header {
    min-height: 100vh;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.headliner {
    position: absolute;
    width: 100%;
    bottom: 30%;
}

h1 {
    font-size: 8vh;
}

h4 {
    font-size: 3vh;
}

.headliner h1 {
    color: #ffffff;
}

.headliner h4 {
    padding: 10px;
    color: #fff;
}

#learn-more {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.separator {
    width: 100px;
    border-bottom: 2px solid #e8ebef;
}

.section-gray {
    background-color: #f7f8fa;
}

.section-gradient {
    background-color: #3B2F63;
    background-image: -webkit-radial-gradient(50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    background-image: radial-gradient(0% bottom, ellipse, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(90% bottom, ellipse,  #523f8c 0%, rgba(82, 63, 140, 0) 40%);
    background-repeat: no-repeat;
    color: #c7c0de;
}