body {
    padding-top: 0px;
    font-family: sans-serif;
}

.content {
    background-color: #FFFFFF;
    color: black;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}

h3 {
    font-weight: bold;
}

p {
    color: dimgray;
}

.nav-header-div {
    padding: 10px 20px;
    border-bottom: 1px solid gainsboro;
}

.navbar-header img {
    padding-top: 10px;
    width: 65%;
}

.navbar-toggle .icon-bar {
    background-color: blueviolet;
}

.collapse.navbar-collapse a:link {
    background-color: none;
    text-transform: uppercase;
    font-weight: 800;
    color: blueviolet;
}

.collapse.navbar-collapse a:hover {
    background-color: white;
    color: blueviolet;
}

.collapse.navbar-collapse a:visited {
    background-color: none;
    text-transform: uppercase;
    font-weight: 800;
    color: blueviolet;
}

.collapse.navbar-collapse a.contact:link {
    border: 1px solid blueviolet;
    background-color: white;
    color: blueviolet;
}

.collapse.navbar-collapse a.contact:hover {
    background-color: blueviolet;
    color: white;
}

.collapse.navbar-collapse a.contact:visited {
    background-color: white;
    color: blueviolet
}

.container .jumbotron {
    background: none;
    text-align: center;
}

.container .jumbotron h1 {
    color: deepskyblue;
}

.hero-img {
    margin-top: -38px;
}

.services {
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.services h2 {
    color: blueviolet;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.center-block {
    text-align: center;
    object-fit: contain;
    height: 275px;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-our-services {
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.about-our-services h2 {
    color: blueviolet;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid gainsboro;
}

.more-services {
    margin: 0px 20px;
}

#final-cta {
    margin: 20px 20px;
    text-align: center;
}

.get-in-touch {
    padding-bottom: 40px
}

.get-in-touch h2 {
    color: deepskyblue;
}

@media only screen and (max-width: 768) {
    .container {
        width: 100vw;
    }
}

@media only screen and (min-width : 320px) {
    .container .jumbotron h1 {
        font-size: 22px;
    }
    
    .container .jumbotron p {
        font-size: 11px
    }
    
    .get-in-touch h2 {
        font-size: 22px
    }
    
    .get-in-touch h3 {
        font-size: 18px;
    }
}

@media only screen and (min-width : 480px) {
    .navbar-header img {
        padding-top: none;
        width: 45%
    }
    .container .jumbotron h1 {
        font-size: 32px;
    }
    
    .container .jumbotron p {
        font-size: 14px;
    }
    
    .get-in-touch h2 {
        font-size: 32px;
    }
    
    .get-in-touch h3 {
        font-size: 24px;
    }
}

@media only screen and (min-width : 768px) {
    .navbar-header img {
        padding-top: none;
        width: 250px;
    }
    
    body {
        background-color: #3B2F63;
        background-image: -webkit-radial-gradient(50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
        background-image: radial-gradient(0% bottom, ellipse, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(90% bottom, ellipse, #523f8c 0%, rgba(82, 63, 140, 0) 40%);
        background-repeat: no-repeat;
        background-size: 100% 1000px;
        color: #c7c0de;
    }
    .container .jumbotron p {
        font-size: 18px;
    }
}

@media only screen and (min-width : 992px) {
    .container .jumbotron h1 {
        font-size: 54px;
    }
    
    .container .jumbotron p {
        font-size: 22px;
    }
    
}

@media only screen and (min-width : 1200px) {
    .container .jumbotron h1 {
        font-size: 64px;
    }
    
}