body {
    font-family:'Avenir LT W01_35 Light1475496';
}

p {
    color: #5B666D;
    font-size: 17px;
}

.navbar-static-top {
    z-index: 1000;
}

.icon-bar {
    background-color: #fff;
}
.navbar-dark {
    height: 80px;
    padding-top: 15px;
}

.navbar-dark .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.navbar-dark .navbar-brand {
    background-image: url(../img/white_logo_transparent_background.png);
}

.navbar-brand {
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 50px;
    padding: 15px 15px 15px 15px;
    line-height: 20px;
    background-size: auto 50px;
    width: 260px;
}

.navbar {
    position: relative;
    background: transparent;
    min-height: 50px;
}

.radial-header-gradient {
    background-color: #3B2F63;
    background-image: -webkit-radial-gradient(50% top, rgba(84, 90, 182, 0.6) 0%, rgba(84, 90, 182, 0) 75%), -webkit-radial-gradient(right top, #794aa2 0%, rgba(121, 74, 162, 0) 57%);
    background-image: radial-gradient(0% bottom, ellipse, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), radial-gradient(90% bottom, ellipse,  #523f8c 0%, rgba(82, 63, 140, 0) 40%);
    background-repeat: no-repeat;
    color: #c7c0de;
}

.small-header {
    min-height: 100vh;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.headliner {
    position: absolute;
    width: 100%;
    padding-top: 9vh;
}

h1 {
    font-size: 36px;
}

h4 {
    font-family: 'Avenir LT W01_65 Medium1475532';
    font-size: 3vh;
}

.headliner h1 {
    font-family: 'Avenir LT W01_65 Medium1475532';
    font-weight: 900;
    color: #ffffff;
}

.headliner h4 {
    padding: 15px;
    color: #fff;
}

.headliner a {
    font-size: 18px;
}

.headliner a:link {
    color: white;
    border: 1px solid white;
    border-radius: 0px;
}

#learn-more {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

#services {
    margin-top: 10px;
    padding-top: 15px; 
}

#services h4 {
    font-size: 4vh;
    font-weight: 900;
}

#services-container {
    padding-top: 20px;
    padding-bottom: 60px;
}

.services-icon {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fa-thumbs-o-up {
    color: #3b5998;
}

.fa-money {
    color: #009d4f;
}

.fa-cogs {
    color: #ea4335;
}

.fa-line-chart {
    color: #8a2be2;
}

.fa-cubes {
    color: #daa520;
}
#our-process {
    margin-top: 10px;
    padding-top: 15px;
}
#our-process h4 {
    font-size: 4vh;
    font-weight: 900;
}

#our-process p {
    margin-top: 15px;
}

.separator {
    width: 100px;
    border-bottom: 2px solid #e8ebef;
}

.process-img {
    padding-top: 25px;
    padding-bottom: 30px;
}

.section-gray {
    background-color: #f7f8fa;
}

.about-services h4 {
    font-size: 4vh;
    font-weight: 900;
}

.about-our-services {
    margin-top: 10px;
    padding-top: 15px;
}

.about-services i {
    font-size: 108px;
}

.more-services {
    margin-top: 25px;
}

.large-icons {
    margin-top: 15%
}

.more-services h4 {
    text-align: center;
}

.more-services-wrapper {
    overflow: auto;
    margin-bottom: 30px;
}

.work-with-us h4 {
    font-size: 4vh;
    font-weight: 900;
}

.work-with-us {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.work-with-us p {
    margin-top: 15px;
}

.cta-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.work-with-us a:link {
    color: mediumpurple;
    border: 1px solid mediumpurple;
    border-radius: 0px;
    width: 205px;
}